In [1]:
import pandas as pd
import datetime

In [2]:
df_10 = pd.read_csv("green_tripdata_2020-10.csv")
df_11 = pd.read_csv("green_tripdata_2020-11.csv")
df_12 = pd.read_csv("green_tripdata_2020-12.csv")
print(len(df_10))
print(len(df_11))
print(len(df_12))

/var/folders/j4/3bcsts1575195393dj3gg_cw0000gn/T/ipykernel_57446/2367816768.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_10 = pd.read_csv("green_tripdata_2020-10.csv")
/var/folders/j4/3bcsts1575195393dj3gg_cw0000gn/T/ipykernel_57446/2367816768.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_11 = pd.read_csv("green_tripdata_2020-11.csv")

95120
88605
83130

/var/folders/j4/3bcsts1575195393dj3gg_cw0000gn/T/ipykernel_57446/2367816768.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_12 = pd.read_csv("green_tripdata_2020-12.csv")

In [3]:
df = pd.concat([df_10, df_11, df_12], ignore_index=True)
len(df)

266855

In [4]:
date_example = df.iloc[0,1]
date = pd.to_datetime(date_example)
print(date)

2020-10-01 00:31:19

In [5]:
year = date.year
print(year)

2020

In [8]:
df["lpep_pickup_date"] = pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_date"] = pd.to_datetime(df["lpep_dropoff_datetime"])

In [9]:
df["lpep_pickup_date"]

0        2020-10-01 00:31:19
1        2020-10-01 00:42:12
2        2020-10-01 00:53:09
3        2020-10-01 00:12:29
4        2020-10-01 00:32:38
                 ...
266850   2020-12-31 23:02:00
266851   2020-12-31 23:39:00
266852   2020-12-31 23:09:00
266853   2020-12-31 23:01:00
266854   2020-12-31 23:12:00
Name: lpep_pickup_date, Length: 266855, dtype: datetime64[ns]

In [10]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'lpep_pickup_date', 'lpep_dropoff_date'],
      dtype='object')

In [11]:
df.columns = df.columns.str.replace(" ","_").str.lower()
df

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,lpep_dropoff_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,...,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01 00:31:19,2020-10-01 00:34:55
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,...,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0,2020-10-01 00:42:12,2020-10-01 00:43:51
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,...,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01 00:53:09,2020-10-01 00:55:39
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,...,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0,2020-10-01 00:12:29,2020-10-01 00:20:08
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,...,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2020-10-01 00:32:38,2020-10-01 00:43:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,NaN,7.04,20.33,...,0.00,0.0,NaN,0.3,20.63,NaN,NaN,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00
266851,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,NaN,2.79,13.17,...,0.00,0.0,NaN,0.3,13.47,NaN,NaN,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00
266852,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,NaN,12.41,45.12,...,2.75,0.0,NaN,0.3,48.17,NaN,NaN,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00
266853,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,NaN,4.46,13.96,...,3.13,0.0,NaN,0.3,17.39,NaN,NaN,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00
266854,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,NaN,10.34,39.95,...,2.75,0.0,NaN,0.3,43.00,NaN,NaN,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00

In [12]:
df.tail()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,lpep_dropoff_date
266850,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,NaN,7.04,20.33,...,0.00,0.0,NaN,0.3,20.63,NaN,NaN,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00
266851,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,NaN,2.79,13.17,...,0.00,0.0,NaN,0.3,13.47,NaN,NaN,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00
266852,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,NaN,12.41,45.12,...,2.75,0.0,NaN,0.3,48.17,NaN,NaN,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00
266853,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,NaN,4.46,13.96,...,3.13,0.0,NaN,0.3,17.39,NaN,NaN,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00
266854,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,NaN,10.34,39.95,...,2.75,0.0,NaN,0.3,43.00,NaN,NaN,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00

In [13]:
"vendorid" in df.columns

True

In [14]:
df[df["passenger_count"] == 0]["passenger_count"].sum() == 0

True

In [15]:
df_filter = pd.DataFrame()
for i in range(len(df)):
    row = date_series = df.loc[i,:]
    date_series = row["lpep_pickup_datetime"]
    date = pd.to_datetime(date_series)
    year = date.year
    month = date.month
    if ((year == 2020) & (10<=month<=12)):
        df_row = pd.DataFrame(row).T
        df_filter = pd.concat([df_filter, df_row])

In [16]:
df["vendorid"].unique()

array([ 2.,  1., nan])

In [42]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266855 entries, 0 to 266854
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendorid               147393 non-null  float64
 1   lpep_pickup_datetime   266855 non-null  object
 2   lpep_dropoff_datetime  266855 non-null  object
 3   store_and_fwd_flag     147393 non-null  object
 4   ratecodeid             147393 non-null  float64
 5   pulocationid           266855 non-null  int64
 6   dolocationid           266855 non-null  int64
 7   passenger_count        147393 non-null  float64
 8   trip_distance          266855 non-null  float64
 9   fare_amount            266855 non-null  float64
 10  extra                  266855 non-null  float64
 11  mta_tax                266855 non-null  float64
 12  tip_amount             266855 non-null  float64
 13  tolls_amount           266855 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  266855 non-null  float64
 16  total_amount           266855 non-null  float64
 17  payment_type           147393 non-null  float64
 18  trip_type              147393 non-null  float64
 19  congestion_surcharge   147393 non-null  float64
 20  lpep_pickup_date       266855 non-null  datetime64[ns]
 21  lpep_dropoff_date      266855 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(15), int64(2), object(3)
memory usage: 44.8+ MB

In [20]:
df_filter_final = df_filter[((df_filter["passenger_count"] > 0) & (df_filter["trip_distance"] > 0))]

In [21]:
len(df_filter_final)

139366

In [22]:
df_filter_final.tail()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,lpep_dropoff_date
230012,2.0,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1.0,41,74,1.0,0.79,5.0,...,0.0,0.0,NaN,0.3,6.3,2.0,1.0,0.0,2020-12-31 23:08:35,2020-12-31 23:13:00
230013,2.0,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5.0,41,116,2.0,2.31,12.0,...,0.0,0.0,NaN,0.3,12.3,2.0,2.0,0.0,2020-12-31 23:11:04,2020-12-31 23:20:08
230014,2.0,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5.0,116,119,1.0,5.73,20.0,...,0.0,0.0,NaN,0.3,20.3,2.0,2.0,0.0,2020-12-31 23:24:33,2020-12-31 23:40:24
230015,2.0,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1.0,42,42,1.0,0.31,3.5,...,0.0,0.0,NaN,0.3,4.8,2.0,1.0,0.0,2020-12-31 23:13:59,2020-12-31 23:16:20
230016,2.0,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1.0,75,167,1.0,3.74,15.0,...,1.0,0.0,NaN,0.3,17.3,1.0,1.0,0.0,2020-12-31 23:54:15,2021-01-01 00:11:17

In [23]:
df_filter_final.head()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,lpep_dropoff_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,...,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01 00:31:19,2020-10-01 00:34:55
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.5,4.0,...,0.0,0.0,NaN,0.3,5.3,2.0,1.0,0.0,2020-10-01 00:42:12,2020-10-01 00:43:51
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.6,4.0,...,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01 00:53:09,2020-10-01 00:55:39
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.4,13.5,...,0.0,0.0,NaN,0.3,14.8,2.0,1.0,0.0,2020-10-01 00:12:29,2020-10-01 00:20:08
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.9,10.5,...,0.0,0.0,NaN,0.3,11.8,2.0,1.0,0.0,2020-10-01 00:32:38,2020-10-01 00:43:02

In [24]:
df["vendorid"].unique()

array([ 2.,  1., nan])